DB_JDBC_URL=jdbc:postgresql://velasco.c5iewo20ea0w.sa-east-1.rds.amazonaws.com:5432/lawyer
DB_USERNAME=lawyer
DB_PASSWORD=MUDE_ISSO
JWT_ISSUER=law-office-management
JWT_EXPIRES_IN_SECONDS=3600
BOOTSTRAP_ADMIN_ENABLED=true
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=Admin@123456
